<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co2 Monitor system</title>
    <!--Bootsrap cdn stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--include ajax from socket.io you can get the link from socket.io webiste-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <link rel="stylesheet" href="/styles">

</head>

<body class="bg-light">
    <div class="container" class="my-auto">
        <div class="card  my-3">
            <div class="card-header text-center text-white bg-primary">
                CO2 Concentration Monitor System
            </div>
            <div class="card-body text-secondary">

              
                    <div class="d-flex justify-content-center">
                        <!--current co2 sensor value-->
                        <p>CO2 Current Concentration :</p>
                        <strong>
                            <p id="mq7-value" style="margin: 0 0.3rem;" class="text-info"></p>
                        </strong>
                        <p>ppm</p>
                        <!--current time -->
                        <p style="margin: 0 0.3rem 0 1rem;">Current Time :</p>
                        <strong>
                            <p id="mq7-time" class="text-info"></p>
                        </strong>

                    </div>

            
                <div class="chart-conatiner mx-auto" style="width: 800px;">
                    <!--chart holder-->
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!--bootsrap script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--include chartjs library-->
    <script src="/chartjs"></script>
    <!--include sensorSocket.js from public folder to configure websocket form client side-->
    <script src="/sensorSocket.js"></script>


</body>

</html>